{% extends "base.html" %}

{% block content %}




<div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
  <div class="card-header">Download Attendance </div>
  <div class="card-body">
    <div class="form-group my-4">
    <form  action="/download_data" method="POST" >
      <div class="input-group mb-3">
        <select name="course" class="custom-select">
        <option selected>select a course</option>
        <option value="Artificial Intelligence">Artificial intelligence</option>
        <option value="Data Communication">Data Communication</option>
        <option value="Numerical Methods">Numerical Method</option>
        </select>
        </div>


      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">From Date</span>
          </div>
          <input type="date" PLACEHOLDER="From date" name="fdate" required class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default1">From Date</span>
          </div>
          <input type="date" PLACEHOLDER="From date" name="tdate" required class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default1">
        </div>
      <button class="btn btn-warning" type="submit" >Submit</button>
</form>
  </div>
</div>



  </div>

{% endblock content %}