<body>
<center>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">


            <h2 class="mt-5">Capturing Images for Dataset </h2>
			<form method="post" action="{{ url_for('tasks') }}">
			<input type="submit" value="Stop/Start" name="stop" class="btn btn-danger"/>
			<input type="submit" value="Capture" name="click" class="btn btn-primary"/>
			</form>
            <img src="{{ url_for('video_feed') }}" height="60%">
			<h3 style="font-family:courier;">Instructions:</h3>
			<ol style="font-family:courier;">
			<li>Stop/Start--Toggle between stop or start live streaming</li>
			<li>Capture--Take still-shot and save in the 'dataset directory' directory</li>

			</ol>

        </div>
    </div>
</div>
	</center>
</body>
